p {
    font-size: 20px;
    font-weight: bold;
}

div {
    width: 100px;
    height: 100px;
    background-color: #ddd;
}

.red {
    border: 5px solid #f33;
    padding: 20px 100px 30px 50px;
}

.gray {
    border: 5px solid blue;
    margin: 50px;
}