
.red{
    border: 5px solid #ff3333;
    border-radius: 50px;

    width: 100px;
    height: 100px;

}

.gray{
    border: 5px double #555;
    border-radius: 10px;

    width: 200px;
    height: 300px;
}